
<%- include('../partials/__head.ejs') %>
<body>
    
  <%- include('../partials/__navbar.ejs') %>
    <div class="container mt-5">
        <form action="/produk/store" method="POST" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="foto_produk" class="form-label">Foto Produk</label>
                <input type="file" class="form-control" id="foto_produk" name="foto_produk" required>
            </div>
            <div class="mb-3">
                <label for="nama_produk" class="form-label">Nama Produk</label>
                <input type="text" class="form-control" id="nama_produk" name="nama_produk" required>
            </div>
            <div class="mb-3">
                <label for="harga_produk" class="form-label">Harga Produk</label>
                <input type="text" class="form-control" id="harga_produk" name="harga_produk" required>
            </div>
            <div class="mb-3">
                <label for="id_kategori" class="form-label">Kategori</label>
                <select name="id_kategori" id="id_kategori" class="form-control">
                    <% for(var i = 0; i< data.length; i++) {%>
                    <option value="<%= data[i].id_kategori %>"><%= data[i].nama_kategori %></option>
                    <% } %>
                </select>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-sm btn-success">Simpan</button>
            </div>
        </form>
    </div>

    <%- include('../partials/__foot.ejs') %>